.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 50px;
  display: flex;
  justify-content: center;
  background: rgba(244, 241, 241, 0.8);
}

.main {
  padding: 40px;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  height: 200px;
  width: 570px;
  position: relative;
}
.main form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main form input {
  padding: 10px 20px;
  border: none;
  background: rgb(244, 241, 241);
}
.main form input:focus {
  outline-style: none;
}
.main form > div {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}
.main form button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid black;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.main form .submit:active {
  margin-top: 2px;
  margin-left: 2px;
  box-shadow: none;
}

.close {
  font-size: 30px;
  position: absolute;
  top: -15px;
  right: -15px;
  background: rgb(244, 241, 241);
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 485px) {
  .main > h1 {
    font-size: 18px;
  }
}
